.form-builder-container {
    .content {
      display: flex;
      gap: 30px;
  
  
      .border {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        min-height: 600px;
        margin-top: 60px;
        padding: 30px;
      }
  
      .form-section {
        flex-basis: 70%;
  
      }
  
      .form-controller {
        flex-basis: 30%;
      }
    }
  
  }
  