<form>
  <ng-container *ngFor="let element of formElements">
    <ng-container [ngSwitch]="element.type">
     <div class="inputtext-container" *ngSwitchCase="'textbox'" (click)="getElement(element)">
      <app-form-inputtext  [config]="element">
      </app-form-inputtext>
     </div>
    <div class="textarea-container" *ngSwitchCase="'textarea'" (click)="getElement(element)">
      <app-form-textarea  [config]="element">
      </app-form-textarea>
    </div>
     <div class="button-container" *ngSwitchCase="'button'" (click)="getElement(element)">
      <app-form-button  [config]="element">
      </app-form-button>
     </div>
    </ng-container>
  </ng-container>
</form>
